<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">
    <title>{% block title %}Commandes{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{{ asset("front-office/img/favicon.png") }}">
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
        <!-- fontawesome -->
        <link rel="stylesheet" href="{{ asset("front-office/css/all.min.css") }}">
        <!-- bootstrap -->
        <link rel="stylesheet" href="{{ asset("front-office/bootstrap/css/bootstrap.min.css") }}">
        <!-- owl carousel -->
        <link rel="stylesheet" href="{{ asset("front-office/css/owl.carousel.css") }}">
        <!-- magnific popup -->
        <link rel="stylesheet" href="{{ asset("front-office/css/magnific-popup.css") }}">
        <!-- animate css -->
        <link rel="stylesheet" href="{{ asset("front-office/css/animate.css") }}">
        <!-- mean menu css -->
        <link rel="stylesheet" href="{{ asset("front-office/css/meanmenu.min.css") }}">
        <!-- main style -->
        <link rel="stylesheet" href="{{ asset("front-office/css/main.css") }}">
        <!-- responsive -->
        <link rel="stylesheet" href="{{ asset("front-office/css/responsive.css") }}">
    {% endblock %}

    {% block javascripts %}
        <!-- jquery -->
        <script src="{{ asset("front-office/js/jquery-1.11.3.min.js") }}"></script>
        <!-- bootstrap -->
        <script src="{{ asset("front-office/bootstrap/js/bootstrap.min.js") }}"></script>
        <!-- count down -->
        <script src="{{ asset("front-office/js/jquery.countdown.js") }}"></script>
        <!-- isotope -->
        <script src="{{ asset("front-office/js/jquery.isotope-3.0.6.min.js") }}"></script>
        <!-- waypoints -->
        <script src="{{ asset("front-office/js/waypoints.js") }}"></script>
        <!-- owl carousel -->
        <script src="{{ asset("front-office/js/owl.carousel.min.js") }}"></script>
        <!-- magnific popup -->
        <script src="{{ asset("front-office/js/jquery.magnific-popup.min.js") }}"></script>
        <!-- mean menu -->
        <script src="{{ asset("front-office/js/jquery.meanmenu.min.js") }}"></script>
        <!-- sticker js -->
        <script src="{{ asset("front-office/js/sticker.js") }}"></script>
        <!-- main js -->
        <script src="{{ asset("front-office/js/main.js") }}"></script>
    {% endblock %}
</head>
<body>
{{ include('includes/header.html.twig') }}
{% block body %}

{% endblock %}
{{ include('includes/footer.html.twig') }}
</body>
</html>
