<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

        <title>{% block title %}Campi{% endblock %}</title>
        {% block images%}
            <link rel="shortcut icon" type="image/png" href={{ asset("FrontOffice/assets/img/logo.png") }}>
        {% endblock %}

        {% block stylesheets %}
            <!-- google font -->
            <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
            <link rel="stylesheet" href={{ asset("FrontOffice/assets/css/all.min.css") }}>
            <link rel="stylesheet" href={{asset("FrontOffice/assets/bootstrap/css/bootstrap.min.css")  }} >
            <link rel="stylesheet" href={{ asset("FrontOffice/assets/css/owl.carousel.css") }}>
            <link rel="stylesheet" href={{ asset("FrontOffice/assets/css/magnific-popup.css") }}>
            <link rel="stylesheet" href={{ asset("FrontOffice/assets/css/animate.css") }}>
            <link rel="stylesheet" href={{ asset("FrontOffice/assets/css/meanmenu.min.css") }}>
            <link rel="stylesheet" href={{ asset("FrontOffice/assets/css/main.css") }}>
            <link rel="stylesheet" href={{ asset("FrontOffice/assets/css/responsive.css") }}>

        {% endblock %}


    </head>
    <body>
    {{ include('includes/header.html.twig') }}

        {% block body %}
            <!-- breadcrumb-section -->
            <div class="breadcrumb-section breadcrumb-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 offset-lg-2 text-center">
                            <div class="breadcrumb-text">
                                <p>Campi</p>
                                <h1>Shop</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end breadcrumb section -->

            <!-- products -->
            <div class="product-section mt-150 mb-150">
                <div class="container">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="product-filters">
                                <ul>
                                    <li class="active" data-filter="*">All</li>
                                    <li data-filter=".strawberry">Tente et Abris</li>
                                    <li data-filter=".berry">Couchage</li>
                                    <li data-filter=".lemon">Mobilier de Camping</li>
                                    <li data-filter=".lemon">Boire et Manger</li>
                                    <li data-filter=".lemon">Equipements et Hygiène</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="row product-lists">
                        <div class="col-lg-4 col-md-6 text-center strawberry">
                            <div class="single-product-item">
                                <div class="product-image">
                                    <a href="single-product.html"><img src={{ asset("FrontOffice/assets/img/products/product-img-1.jpg")}} alt=""></a>
                                </div>
                                <h3>Strawberry</h3>
                                <p class="product-price"><span>Per Kg</span> 85$ </p>
                                <a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 text-center berry">
                            <div class="single-product-item">
                                <div class="product-image">
                                    <a href="single-product.html"><img src={{ asset("FrontOffice/assets/img/products/product-img-2.jpg")}} alt=""></a>
                                </div>
                                <h3>Berry</h3>
                                <p class="product-price"><span>Per Kg</span> 70$ </p>
                                <a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 text-center lemon">
                            <div class="single-product-item">
                                <div class="product-image">
                                    <a href="single-product.html"><img src={{ asset("FrontOffice/assets/img/products/product-img-3.jpg" ) }}alt=""></a>
                                </div>
                                <h3>Lemon</h3>
                                <p class="product-price"><span>Per Kg</span> 35$ </p>
                                <a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 text-center">
                            <div class="single-product-item">
                                <div class="product-image">
                                    <a href="single-product.html"><img src={{ asset("FrontOffice/assets/img/products/product-img-4.jpg")}} alt=""></a>
                                </div>
                                <h3>Avocado</h3>
                                <p class="product-price"><span>Per Kg</span> 50$ </p>
                                <a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 text-center">
                            <div class="single-product-item">
                                <div class="product-image">
                                    <a href="single-product.html"><img src={{ asset("FrontOffice/assets/img/products/product-img-5.jpg")}} alt=""></a>
                                </div>
                                <h3>Green Apple</h3>
                                <p class="product-price"><span>Per Kg</span> 45$ </p>
                                <a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 text-center strawberry">
                            <div class="single-product-item">
                                <div class="product-image">
                                    <a href="single-product.html"><img src={{ asset("FrontOffice/assets/img/products/product-img-6.jpg")}} alt=""></a>
                                </div>
                                <h3>Strawberry</h3>
                                <p class="product-price"><span>Per Kg</span> 80$ </p>
                                <a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <div class="pagination-wrap">
                                <ul>
                                    <li><a href="#">Prev</a></li>
                                    <li><a href="#">1</a></li>
                                    <li><a class="active" href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">Next</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end products -->
            <!--logo caroussel-->
            <div class="logo-carousel-section">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="logo-carousel-inner">
                                <div class="single-logo-item">
                                    <img src={{ asset("FrontOffice/assets/img/company-logos/1.png")}} alt="">
                                </div>
                                <div class="single-logo-item">
                                    <img src={{ asset("FrontOffice/assets/img/company-logos/2.png")}} alt="">
                                </div>
                                <div class="single-logo-item">
                                    <img src={{ asset("FrontOffice/assets/img/company-logos/3.png")}} alt="">
                                </div>
                                <div class="single-logo-item">
                                    <img src={{ asset("FrontOffice/assets/img/company-logos/4.png")}} alt="">
                                </div>
                                <div class="single-logo-item">
                                    <img src={{ asset("FrontOffice/assets/img/company-logos/5.png")}} alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end logo carousel -->


        {% endblock %}

    {{ include('includes/footer.html.twig') }}

    </body>
    {% block javascripts %}
        <!-- jquery -->
        <script src={{ asset("FrontOffice/assets/js/jquery-1.11.3.min.js") }}></script>
        <!-- bootstrap -->
        <script src={{ asset("FrontOffice/assets/bootstrap/js/bootstrap.min.js") }}></script>
        <!-- count down -->
        <script src={{ asset("FrontOffice/assets/js/jquery.countdown.js") }}></script>
        <!-- isotope -->
        <script src={{asset("FrontOffice/assets/js/jquery.isotope-3.0.6.min.js")  }}></script>
        <!-- waypoints -->
        <script src={{ asset("FrontOffice/assets/js/waypoints.js") }}></script>
        <!-- owl carousel -->
        <script src={{asset("FrontOffice/assets/js/owl.carousel.min.js")  }}></script>
        <!-- magnific popup -->
        <script src={{ asset("FrontOffice/assets/js/jquery.magnific-popup.min.js") }}></script>
        <!-- mean menu -->
        <script src={{ asset("FrontOffice/assets/js/jquery.meanmenu.min.js") }}></script>
        <!-- sticker js -->
        <script src={{ asset("FrontOffice/assets/js/sticker.js") }}></script>
        <!-- main js -->
        <script src={{ asset("FrontOffice/assets/js/main.js") }}></script>
    {% endblock %}
</html>
