{% extends 'base-back.html.twig' %}

{% block title %}Hello BackEvenementController!{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Ajouter un événement</h4>
            <p class="card-description"> Veuillez remplir les champs vides </p>
            {{ form_start(form) }}
            <form class="forms-sample">
                <div class="form-group">
                    <!-- <label for="exampleInputName1">Name</label>
                    <input type="text" class="form-control" id="exampleInputName1" placeholder="Name"> -->
                    {{ form_label (form.destination) }}
                    {{ form_widget (form.destination) }}
                </div>
                <div class="form-group">
                    {{ form_label (form.description) }}
                    {{ form_widget (form.description) }}
                </div>
                <div class="form-group">
                    {{ form_label (form.date) }}
                    {{ form_widget (form.date) }}
                </div>
                <div class="form-group">
                    {{ form_label (form.prix) }}
                    {{ form_widget (form.prix) }}
                </div>
                <div class="form-group">
                    {{ form_label (form.nbr_participants_max) }}
                    {{ form_widget (form.nbr_participants_max) }}
                </div>
                <div class="form-group">
                    {{ form_row (form.image) }}
                </div>


                <!--<div class="form-group">
                    <label for="exampleInputEmail3">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword4">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword4" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="exampleSelectGender">Gender</label>
                    <select class="form-control" id="exampleSelectGender">
                        <option>Male</option>
                        <option>Female</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>File upload</label>
                    <input type="file" name="img[]" class="file-upload-default">
                    <div class="input-group col-xs-12">
                        <input type="text" class="form-control file-upload-info" disabled="" placeholder="Upload Image">
                        <span class="input-group-append">
                            <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                          </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputCity1">City</label>
                    <input type="text" class="form-control" id="exampleInputCity1" placeholder="Location">
                </div>
                <div class="form-group">
                    <label for="exampleTextarea1">Textarea</label>
                    <textarea class="form-control" id="exampleTextarea1" rows="4"></textarea>
                </div>  -->
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <button class="btn btn-dark">Cancel</button>
            </form>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
